.contenedor-clientes {
	width: 100%;
	max-width: 1160px;
	margin: auto;
	padding: 25px 20px;
}

.contenedor-clientes h1{
	border-bottom: 2px solid #cccccc;
	padding-top: 20px;
}

.contenedor-clientes p{
	/*color: #666666;*/
	padding: 10px 0px;
	text-align: justify;
}

.contenedor-clientes h2{
	font-style: italic;
	color: #3b4064;
	display: block;
	text-align: center;
	font-weight: bold;
}

.contenedor-clientes a {
	font-style: italic;
	color: #af9550;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.contenedor-clientes-flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
	padding-top: 20px;
}

.caja-clientes {
	width: 100%;
	max-width: 250px;
	padding: 20px 5px;
}

.caja-clientes img{
	width: 100%;
	height: auto;
	border:1px solid #CCC;
}

.bajada-desierto {
	margin-bottom: -30px;
	width: 100%;
	height: 170px;
	background-image: url(../imagenes/bajada-pagina.jpg);
	background-repeat: no-repeat;
	background-position: center bottom; 
	overflow: hidden;
}

@media (max-width: 1000px) {


.caja-clientes {
	width: 100%;
	max-width: 200px;
	padding: 20px 5px;
}

.contenedor-clientes-flex {
	padding-top: 20px;
	justify-content: space-around;
}

}

@media (max-width: 600px) {


.contenedor-clientes p{
	padding: 10px 10px;
	text-align: left;
	font-size: 11px;
}

.contenedor-clientes h2{
	font-size: 16px;
}

.bajada-desierto {
	width: 100%;
	height: 170px;
	background-size: 300%;
}

.contenedor-clientes-flex {
	padding-top: 20px;
	justify-content: space-around;
}

}


@media (max-width: 400px) {

.bajada-desierto {
	width: 100%;
	height: 170px;
	background-size: 500%;
}
}